/**import fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

/** reset*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    
}

.container{
    max-width: 1140px;
    margin:auto;
}

header .line{
    background-color: #117050;
    height: 10px;
}


.header--area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header--left img{
    width:64px;
    height: 64px;

}

.header--right{
    display: flex;
    align-items: center;
}

.header--search form{
    display: flex;
}

.header--search input{
    font-size: 18px;
    padding: 9px 15px;
    border: 1px solid #999999;
    outline: none;
    width: 100%;
    max-width: 250px;  
}


.header--search button{
    background-color: transparent;
    border:0;
    cursor:pointer;
    margin-left: -30px;
}

.header--search img{
    width:16px;
    height:16px;
}

.header--menu{
    margin-left:50px;
    cursor: pointer;
}

.header--menu img{
    width: 24px;
    height: 24px;
}

/**styles for banner */

.banner{
    background: url('/images/bg.jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
    padding-top: 90px;
    padding-bottom: 90px;
}

.banner h1{
    font-size: 90px;
    line-height: 90px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding-bottom: 30px;
}

.banner--images{
    margin-top:60px ;
}

.banner--images img{
    width: 148px;
    height: 148px;
    border-radius: 50%;
    border: 5px solid #117050;
    margin-right: 40px;
}